<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetBackup Bppllist Analyzer</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--네비게이션 시작-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">GT Solution</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/solution">방법</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- 네비게이션 끝 -->

    <div class="container-fluid">

        <div class="container p-2">
            <div class="">
                <h1 class="display-5">NetBackup 정책 분석기 1.0v</h1>
                <p class="fs-6 text-end">제작자 : 한재호</p>
            </div>
            <div>
                <p class="font-monospace p-2"># bppllist -U -allpolicies > bppllist_test.txt</p>
                <p class="p-2">bppllist_test.txt 파일을 업로드 한다. </p>
                <div class="p-2">
                    <img src="/static/images/file_send.png" class="img-fluid" alt="파일 전달">
                </div>
                <p class="p-2">
                    파일 선택 누른 후 업로드 그리고 확인.
                </p>
                <div class="p-2">
                    <img src="/static/images/file_list.png" class="img-fluid" alt="파일 전달">
                </div>
            </div>
        </div>


        <footer class="fixed-bottom p-3 d-flex justify-content-center bg-dark">
            <div class="lead text-white">
                모든 파일은 업로드 후 3일 뒤에 자동 삭제 됩니다.
            </div>
        </footer>
    </div>


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>

</body>
</html>